<div id="<%= dom_id task %>">
  <div class="columns mt-6 is-centered">
    <div class="column is-one-third">
      <div class="card">
    <header class="card-header">Task name:
    <%= task.task_name %>
    </header>
      <div class="card-content">
        <div class="content">
    Description:
    <%= task.description %>
    Finished:
    <%= task.finished %>
      </div>
     </div>
   </div>
 </div>
</div>
